<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>star_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stars.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0289717069dd3f7ef5b8cf572b545c8d$</string>
            <key>textureFileName</key>
            <string>stars.png</string>
        </dict>
    </dict>
</plist>
